/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.top-left-items {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: baseline;
}

.menu-bar {
    border-bottom: 2px solid #e2e2e2;
    height: 50px;
}

.header-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}

.bar-btn {
    border: white;
    background-color: white;
}

.fas.fa-bars {
    margin-left: 15px;
}

.search-label {
    margin-top: 10px;
    margin: 20px;
}

.btns-div {
    margin: 20px;
    align-self: center;
}

.anchor-tag {
    font-family: helvetica, arial, sans-serif;
    margin: 20px;
    margin-left: 5px;
    align-self: center;
    text-decoration-line: none;
    color: rgb(15, 4, 4);
    font-weight: bold;
    font-size: 14px;
}

.newyork-logo {
    height: 50px;
    width: 250px;
}

.header-anchor {
    align-self: center;
}

.search-label {
    align-self: center;
}

.sub-btn {
    background-color: #567b95;
    border-radius: 5px;
    border: 1px color rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 35px;
    width: 115px;
    margin-top: 10px;
}

.login-btn {
    background-color: #567b95;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 35px;
    width: 50px;
    margin-top: 10px;
}

.main-tittle {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    font-size: 50px;
    font-family: georgia, 'times new roman', times, serif;
    font-weight: bold;
    font-style: italic;
}

.image-and-caption {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 535px;
    width: 950px;
}